.posts{
    min-height: 100%;
    min-height: 400px;
    padding: 26px;
    
}
.loding{
    width: 100%;
}
.load{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#strong_text{
    font-size: large;
    font-weight: 800;
}
.posts_row{
    width: 100%;
}
#img_{
    width: 100%;
}
.posts_heading{
    
    padding-top:20px;
    padding-bottom: 20px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    font-size: 7vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#posts_body{
    clear: both;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.author{
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
ul{
    list-style-position: inside;
}
ol{
    list-style-position: inside;
}
.time{
    float: right;
}
#main{
    color: purple;
}
#code{
    background-color: gray;
}
#second{
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#text_small{
    width: 100%;
}
#image_div{
    width: 100%;
}
#image_div img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 600px) {
    .posts{
        padding: 30px 70px;
        
    }
    .posts_heading{
        text-align: center;
        width: 100%;
        font-size: 4.2vw;
    }
    
  }
  
